<div class="form-section">
  <form  #feedback="ngForm" (ngSubmit)="onSubmit(ngForm, 'submit')" [formGroup]="ngForm">
    <div class="form-group">
     <div class="col-xs-12">
        <label for="firstName">{{ dictionary.getTexts('firstName') }}</label>
        <input 
          [formControl]="ngForm.controls['firstName']" 
          required="true" 
          type="text" 
          class="form-control" 
          name="firstName" 
          placeholder="{{ dictionary.getTexts('firstNameInput') }}">
     </div>
     <div class="col-xs-12">
        <label for="lastName">{{ dictionary.getTexts('lastName') }}</label>
        <input 
          [formControl]="ngForm.controls['lastName']" 
          required="true" 
          type="text" 
          class="form-control" 
          name="lastName" 
          placeholder="{{ dictionary.getTexts('lastNameInput') }}">
     </div>
     <div class="col-xs-12">
        <label for="emailAddress">{{ dictionary.getTexts('emailAddress') }}</label>
        <input 
          [formControl]="ngForm.controls['emailAddress']" 
          required="true" 
          type="text" 
          class="form-control" 
          name="emailAddress" 
          placeholder="{{ dictionary.getTexts('emailAddressInput') }}">
     </div>
     <div class="col-xs-12">
        <label for="dateOfBirth">{{ dictionary.getTexts('dateOfBirth') }}</label>
        <input 
          [formControl]="ngForm.controls['dateOfBirth']" 
          required="true" 
          type="date" 
          class="form-control" 
          name="dateOfBirth"
          placeholder="{{ dictionary.getTexts('dateOfBirthInput') }}">
     </div>
     <div class="col-xs-12">
        <button 
          *ngIf="formOptions"
          [disabled]="!ngForm.valid"
          [class.col-md-6]="formOptions.action == 'update'"
          class="btn btn-primary col-xs-12">
          {{ dictionary.getTexts(formOptions.btnText) }}
        </button>
        <button 
          *ngIf="formOptions.action == 'update'"
          (click)="onSubmit(ngForm, 'delete')"
          class="btn btn-danger col-md-6 col-xs-12">
            {{ dictionary.getTexts('deleteBtn') }}
        </button>
     </div>
    </div>
  </form>
</div>