<table class="table table-striped">
  <!-- Integrate table head based on the interface properties -->
  <!-- Integrate translation -->
  <thead>
    <tr (click)="sortByColumn();">
      <td data-sort-by="firstName" data-asc="false" class="col-xs-3">
        <span class="column-header">{{ dictionary.getTexts('firstName') }}</span>
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
      </td>
      <td data-sort-by="lastName" data-asc="false" class="col-xs-3">
        <span class="column-header">{{ dictionary.getTexts('lastName') }}</span>
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
      </td>
      <td data-sort-by="emailAddress" data-asc="false" class="col-md-3">
        <span class="column-header">{{ dictionary.getTexts('emailAddress') }}</span>
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
      </td>
      <td data-sort-by="dateOfBirth" data-asc="false" class="col-md-3">
        <span class="column-header">{{ dictionary.getTexts('dateOfBirth') }}</span>
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
      </td>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of users" (click)="editUser(user)">
        <td name="firstName">{{ user.firstName }}</td>
        <td name="lastName">{{ user.lastName }}</td>
        <td name="emailAddress">{{ user.emailAddress }}</td>
        <td name="dateOfBirth">{{ user.dateOfBirth }}</td>
      </tr>
      <tr>
        <td name="addNewUser" colspan="4" (click)="addNewUser()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </td>
      </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        Back-end: {{ backendStatus }}
      </td>
    </tr>
  </tfoot>
</table>