<table class="table table-striped">
  <!-- Integrate table head based on the interface properties -->
  <!-- Integrate translation -->
  <thead>
    <tr (click)="sortByColumn();">
      <td data-sort-by="firstName" data-asc="false">
        {{ language.getTexts('firstName') }}
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
      </td>
      <td data-sort-by="lastName" data-asc="false">
        {{ language.getTexts('lastName') }}
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
      </td>
      <td data-sort-by="emailAddress" data-asc="false">
        {{ language.getTexts('emailAddress') }}
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
      </td>
      <td data-sort-by="dateOfBirth" data-asc="false">
        {{ language.getTexts('dateOfBirth') }}
        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
      </td>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of users">
        <td name="firstName">{{ user.firstName }}</td>
        <td name="lastName">{{ user.lastName }}</td>
        <td name="emailAddress">{{ user.emailAddress }}</td>
        <td name="dateOfBirth">{{ user.dateOfBirth }}</td>
      </tr>
      <tr>
        <td name="addNewUser" colspan="4" (click)="addNewUser()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </td>
      </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        status of the information
      </td>
    </tr>
  </tfoot>
</table>